body{
  font-family: Arial, sans-serif;
  background-color: #61c1de ;
}

.app{
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: #b4d9e4;
  border-radius: 6px;
}

input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button{
  width: 100%;
  padding: 8px;
  cursor: pointer
}

.weather-card p{
  margin: 6px 0
}